
.dashboard {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 20%;
    padding: 1rem;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    overflow-y: auto;
  }
  
  .main-content {
    width: 70%;
    padding: 1rem;
    overflow-y: auto;
  }
  
  .Channel {
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid transparent;
    margin: 0.5rem 0;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }
  
  .Channel:hover {
    background-color: #e0e0e0;
  }
  
  .Channel.selected {
    background-color: #d1e7fd;
    border: 1px solid #007bff;
  }

  .Friends{
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid transparent;
    margin: 0.5rem 0;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }

  .Friends:hover {
    background-color: #e0e0e0;
  }
  